.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19,19,19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
    font-size: 25px;
}

@media only screen and (max-width: 410px) {
    .navbar {
        width: 90%;
        height: 70px;
        display: flex;
        justify-content: flex-end;
    }
    .links {
        display: flex;
        align-items: center;
    }
  }